<mat-card class="beer-card" routerLink="/detail/{{beer.id}}">
    <div class="beer-card-content">
        <mat-card-header>
            <mat-card-title>{{ beer.name }}</mat-card-title>
            <mat-card-subtitle>{{ beer.style }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="description">
                {{ beer.description }}
            </div>
            <div class="bottom-block">
                <div class='bottom-left'>
                    <ul>
                        <li>ABV:&nbsp;{{ beer.abv }}%</li>
                        <li>EPM:&nbsp;{{ beer.epm }}°</li>
                    </ul>
                </div>
                <div class='rating'>
                    <app-beer-rating-view [beerId]="beer.id"></app-beer-rating-view>
                </div>
            </div>
        </mat-card-content>
    </div>
    <div class='beer-image'>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <img [src]="beerPictureUrl" alt="" (load)="onImageLoad()">
    </div>
</mat-card>