<div class="beer-container" *ngIf="beer" [style.flex-direction]="getFlexDirection()">
    <mat-card class="beer-card">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <div class="image-wrapper">
            <img mat-card-image [src]="beerPictureUrl" alt="" (load)="onImageLoad()">
        </div>
        <mat-card-header>
            <div mat-card-avatar class="beer-header-image"></div>
            <mat-card-title>{{ beer.name }}</mat-card-title>
            <mat-card-subtitle>{{ beer.style }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ beer.description }}</p>
            <p>{{ beer.ingredients }}</p>
            <div class='description'>
                <ul>
                    <li>ABV:&nbsp;{{ beer.abv }}%</li>
                    <li>EPM:&nbsp;{{ beer.epm }}°</li>
                </ul>
            </div>
            <div class='rating'>
                <app-beer-rating-view [beerId]="beer.id"></app-beer-rating-view>
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="isUserAuthenticated()">
            <button mat-raised-button routerLink="/edit/{{beer.id}}">EDIT</button>
            <button mat-raised-button color="warn" (click)="deleteBeer()">DELETE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="rating-card" *ngIf="isUserAuthenticated()">
        <mat-card-content>
            Rate beer:
            <app-beer-rating-user [beerId]="beer.id"></app-beer-rating-user>
        </mat-card-content>
    </mat-card>
    <mat-card class="brewery-card">
        <mat-card-title>{{ beer.brewery }}</mat-card-title>
        <mat-card-content>
            <app-beer-detail-map [address]="beer.brewery"></app-beer-detail-map>
        </mat-card-content>
    </mat-card>
</div>