<mat-card *ngIf="afAuth.user | async as user; else showLogin" class='login-card' [matMenuTriggerFor]="appMenu">
    <mat-card-header>
        <img mat-card-avatar [src]="user.photoURL" />
        <mat-card-title>{{ user.displayName }}</mat-card-title>
        <mat-card-subtitle>asdf</mat-card-subtitle>
    </mat-card-header>
</mat-card>
<mat-menu #appMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
    <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>    
<ng-template #showLogin>
    <button *ngIf="!user" mat-raised-button color="accent" (click)="login()">Sign In</button>
</ng-template>