<div class="beer-container" *ngIf="beer">
    <mat-card class="beer-card">
        <mat-card-header>
            <div mat-card-avatar class="beer-header-image"></div>
            <mat-card-title>{{ beer.name }}</mat-card-title>
            <mat-card-subtitle>{{ beer.style }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="beerPictureUrl" alt="Cool beer photo here">
        <mat-card-content>
            <p>{{ beer.ingredients }}</p>
            <p>{{ beer.brewery }}</p>
            <div class='description'>
                <ul>
                    <li>ABV: {{ beer.abv }}</li>
                    <li>EPM: {{ beer.epm }}</li>
                </ul>
            </div>
            <div class='rating'>
                <app-beer-rating-view [beerId]="beer.id"></app-beer-rating-view>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button routerLink="/edit/{{beer.id}}" *ngIf="isUserAuthenticated()">EDIT</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="detail-card">
        <mat-card-content *ngIf="isUserAuthenticated()" class="beer-rating">
            Rate beer: <app-beer-rating-user [beerId]="beer.id"></app-beer-rating-user>
        </mat-card-content>
        <mat-card-content>
            <app-map [address]="beer.brewery"></app-map>
        </mat-card-content>
    </mat-card>
</div>