<mat-card>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Beer Name" [(ngModel)]="beer.name" name="name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Beer Ingredients" [(ngModel)]="beer.ingredients" name="ingredients"></textarea>
            </mat-form-field>
            <mat-grid-list cols="2" rowHeight="100px" gutterSize="20px">
                <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <input type="number" matInput placeholder="ABV" [(ngModel)]="beer.abv" name="abv">
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="example-full-width">
                        <input type="number" matInput placeholder="EPM" [(ngModel)]="beer.epm" name="epm">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Brewery" [(ngModel)]="beer.brewery" name="brewery"></textarea>
            </mat-form-field>
            <button mat-raised-button onclick="document.getElementById('fileToUpload').click()">
                <label for="fileToUpload">Add picture</label>
            </button>
            <input id="fileToUpload" (change)="upload($event)" type="file" style="display:none;" accept=".png,.jpg">

            <button mat-raised-button color="primary" (click)="submit($event)">Submit</button>
        </form>
    </mat-card-content>
</mat-card>