.mat-card {
    padding: 10px;
    margin-bottom: 5px;
}
.mat-card-subtitle {
    margin-bottom: 0px;
}
.mat-card-content {
    margin-bottom: 0px;
}
.mat-card-actions {
    margin-right: auto;
}
.mat-card-actions:last-child {
    font-size: 10pt;
    margin-bottom: -10px;
}
::ng-deep .mat-card-header-text {
    margin: 0px;
}