.beer-card {
    height: 350px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.beer-card img {
    max-height: 150px;
    height: 150px;
}

::ng-deep .mat-card-header-text {
    margin: 0px;
}

.mat-card-header {
    flex: 1;
}

.mat-card-title {
    margin-top: 15px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

.description {
    display: inline-block;
    width: 30%;
}

.rating {
    color: grey;
    display: inline-block;
    width: 60%;
    margin-left: 10%;
    text-align: right;
}

.description ul {
    list-style: none;
    padding: 0px;
}

::ng-deep .rating ngb-rating .ng-star-inserted {
    font-size: 15px;
}