<mat-card class="beer-card" routerLink="/detail/{{beer.id}}">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="image-wrapper">
        <img mat-card-image [src]="beerPictureUrl" alt="" (load)="onImageLoad()">
    </div>
    <mat-card-header>
        <mat-card-title>{{ beer.name }}</mat-card-title>
        <mat-card-subtitle>{{ beer.style }}&nbsp;</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class='description'>
            <ul>
                <li>ABV:&nbsp;{{ beer.abv }}%</li>
                <li>EPM:&nbsp;{{ beer.epm }}°</li>
            </ul>
        </div>
        <div class='rating'>
            <app-beer-rating-view [beerId]="beer.id"></app-beer-rating-view>
        </div>
    </mat-card-content>
</mat-card>