<div class="chat">
    <button mat-raised-button [matMenuTriggerFor]="chatMenu">Let's talk beers here!</button>
    <mat-menu #chatMenu="matMenu" overlapTrigger="false" yPosition="below" xPosition="after" class="chat-menu">
        <div class="chatform" (click)="stopPropagation($event)">
            <app-chat-message-list [messages]="messages" #messageList></app-chat-message-list>
            <app-chat-message-form (sendRequest)="sendMessage($event)"></app-chat-message-form>
        </div>
    </mat-menu>
</div>